<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Shop Products</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <script src="https://cdn.tailwindcss.com"></script>
    </head>
    <body>
        <div class="min-h-screen bg-zinc-950 text-white">
         <!-- Header -->

           <% if (success.length > 0) { %>
            <div class="fixed top-5 left-1/2 -translate-x-1/2 
                        px-5 py-3 rounded-xl shadow-lg bg-transparent
                        flex items-center gap-2 z-50 
                        text-white font-medium animate-bounce">
                <svg xmlns="http://www.w3.org/2000/svg" 
                    fill="none" viewBox="0 0 24 24" 
                    stroke-width="1.5" stroke="currentColor" 
                    class="w-5 h-5 text-white">
                <path stroke-linecap="round" stroke-linejoin="round" 
                        d="M12 9v2.25m0 3.75h.008v.008H12v-.008zM21 12a9 9 0 11-18 
                        0 9 9 0 0118 0z" />
                </svg>
                <span><%= success %></span>
            </div>
        <% } %>
        
            <header class="flex items-center justify-between px-6 py-4 border-b border-zinc-800">
                    <h1 class="text-2xl font-bold text-sky-400">bagEcom</h1>
                    <div class="flex justify-end w-full">
                       <nav class="hidden md:flex gap-6">
                        <a class="font-semibold hover:text-sky-400" href="/shop">Shop</a>
                        <a class="font-semibold hover:text-sky-400" href="/cart">Cart</a>
                        <a class="font-semibold hover:text-sky-400" href="">Account</a>
                        <a class="font-semibold text-red-500 hover:text-red-600" href="/users/logout">Logout</a>
                      </nav>
                    </div>

                    <!---
                 <div class="flex items-center gap-6">
                    
                    <a herf="/cart" class="relative">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" 
                            viewBox="0 0 24 24" stroke-width="1.5" 
                            stroke="currentColor" class="w-6 h-6">
                        <path stroke-linecap="round" stroke-linejoin="round" 
                                d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13l-1.5 7.5h13.9M7 13h10m-6 8a1 1 0 100-2 1 1 0 000 2zm6 0a1 1 0 100-2 1 1 0 000 2z" />
                        </svg>
                        <span class="absolute -top-2 -right-2 bg-red-600 text-xs px-1.5 rounded-full">3</span>
                    </a>
                
                </div>  -->
            </header>

                <!-- Layout -->
                <div class="flex flex-col md:flex-row">
                    <!-- Sidebar Filters -->
                    <aside class="w-full md:w-1/4 lg:w-1/5 border-r border-zinc-800 px-6 py-6 space-y-6">
                        <div class="flex flex-col">
                            <label for="Filter" class="">Sort By</label>
                            <select class="bg-zinc-950 border border-zinc-700 px-3 py-2 mt-2 rounded-lg text-sm focus:ring-2 focus:ring-sky-500">
                                <option>Popular</option>
                                <option>Newest</option>
                                <option>Price: Low to High</option>
                                <option>Price: High to Low</option>
                           </select>
                        </div>
                        <div>
                            <h3 class="text-lg font-semibold mb-2">Categories</h3>
                            <ul class="space-y-2">
                            <li><a href="#" class="hover:text-sky-400">New Collection</a></li>
                            <li><a href="#" class="hover:text-sky-400">All Products</a></li>
                            <li><a href="#" class="hover:text-sky-400">Discounted Products</a></li>
                            </ul>
                        </div>

                        <div>
                            <h3 class="text-lg font-semibold mb-2">Filter by</h3>
                            <ul class="space-y-2">
                            <li><a href="#" class="hover:text-sky-400">Availability</a></li>
                            <li><a href="#" class="hover:text-sky-400">Discount</a></li>
                            <li><a href="#" class="hover:text-sky-400">Price Range</a></li>
                            </ul>
                        </div>
                    </aside>

                    
                        
                    <main class="flex-1 p-6">
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
                            <% products.forEach((product) => { %>
                            <!-- Product Card -->
                            
                            <div class="border border-zinc-500 bg-zinc-950 rounded-xl shadow-lg hover:shadow-sky-500/20 transition duration-300 overflow-hidden group">
                                <!-- Image -->
                                <div class="h-48 bg-zinc-800 flex items-center justify-center">
                                  <img src="data:image/jpg;base64,<%= product.image.toString('base64') %>" alt="<%= product.name %>" class="h-full object-cover object-contain group-hover:scale-105 transition">
                                </div>
                          
                                 <!--below div can add the panel color as per the admin provide for particular product and also text color-->
                                <div class="p-4 flex flex-col justify-between bg-[<%= product.panelcolor %>]">
                                    <h4 class="text-lg font-semibold group-hover:text-sky-400 text-[<%= product.textcolor %>]"><%= product.name %></h4>
                                    <p class="text-[<%= product.textcolor %>] font-bold mt-1">₹<%= product.price %></p>
                                    <h3 class="text-zinc-500"><%= product.discount %>% Off</h3>

                                    <a href="/addtocart/<%= product._id %>" class="mt-4 w-full bg-sky-500 hover:bg-sky-600 text-white py-2 rounded-lg font-medium flex items-center justify-center gap-2">
        
                                        Add to Cart
                                    </a>
                                </div>
                            </div>
                            <% }) %>
                        </div>
                        </main>          
                </div>
            </div>
      </div>
    </body>
</html>